.content-box-lg {
  padding: 120px 0;
}
.content-box-md {
  padding: 100px 0;
}
#about-right p:first-child {
  margin-bottom: 30px;
}
#about-bottom {
  margin-top: 60px;
}
#about-bottom img {
  margin: 0 auto;
}
.vertical-heading h2 {
  margin: 0 0 0 35px;
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
}
.blue-text {
  color: #1c6dd0;
  font-weight: bolder;
}
.vertical-heading {
  display: table-cell;
  width: 250px;
  height: 200px;
  vertical-align: middle;
}
/* team */
.our-team {
  padding: 50px;
}
@media screen and (max-width: 940px) {
  .our-team {
    padding: 30px 10px;
  }
}
.our-team .team-row {
  margin-top: 20px;
}
.our-team .team-row .single-usr {
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65),
    0 2px 6px 0 rgba(206, 206, 238, 0.54);
  margin-bottom: 20px;
}
.our-team .team-row .single-usr img {
  width: 100%;
}
.our-team .team-row .single-usr .det-o {
  padding: 20px;
  background-color: #1c6dd0;
}
.our-team .team-row .single-usr .det-o h4 {
  color: #fff;
  margin-bottom: 0px;
}
.our-team .team-row .single-usr .det-o i {
  color: #fff;
}
